/* -----------------------------------------------------------------------
/* <copyright file="ie.css" company="ViCon GmbH">
/*     Copyright © ViCon GmbH.
/* </copyright>
/* <summary>
/*		This file provides all styles for Internet
/*		Explorer.
/* </summary>
/* -----------------------------------------------------------------------*/

/* ~~~ general ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@-ms-viewport {
  width: 1200px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ navigation ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.menuActive:link{	
	padding: 7px 12px 9px 13px !important;
	background-image: url(../images/ui/active.svg);
	background-size: 100% 100%; /* horz vert */
}

.menuActive:hover{																																										/* "importants are necessary to overwrite the default hiover effect */
	padding: 7px 12px 9px 13px !important;
	background-image: url(../images/ui/active.svg);
	background-size: 100% 100%; /* horz vert */
}

ul.dropdown{
	margin-top: 1px;
}

ul.dropdown li{	
	background-image: url(../images/ui/link.svg);
	background-image: linear-gradient(top, #f4f9ff 0%, #dbe7f5 100%);
	filter: none;
	zoom: 1;
	margin: -1px 0;
}

ul.dropdown ul li:hover{	
	background-image: url(../images/ui/hover.svg);
	background-image: linear-gradient(top, #f4f9ff 0%, #bacee6 100%);
	filter: none;
	zoom: 1;
	margin: -1px 0;
	display: block !important;
}

#whereami li:hover{	
	background-image: url(../images/ui/hover.svg);
	background-image: linear-gradient(top, #f4f9ff 0%, #bacee6 100%);
	filter: none;
	zoom: 1;
	margin: -1px 0;
	display: block !important;
}

#whereami li:hover span{	
	background-image: url(../images/ui/hover.svg);
	background-image: linear-gradient(top, #f4f9ff 0%, #bacee6 100%);
	filter: none;
	zoom: 1;
	margin: -1px 0;
	display: block !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ left part ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.globalProcessTree, .myProcessTree, .globalInformationTree, .myInformationTree, .globalAreaTree, .myAreaTree {		/* white window for processes and information */																										/* for filling the whole height of the screen */
	top: 79px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ properties window ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#propertiesWindowNavigation ul li{
	filter: none;
	background-image: url(../images/ui/prop_link.svg);
	background-size: 103%;
	zoom: 1;
}
#propertiesWindowNavigation ul li:hover{
	filter: none;
	background-image: url(../images/ui/prop_hover.svg);
	background-size: 103%;
	zoom: 1;
}
#propertiesWindowNavigation ul li a:link, propertiesWindowNavigation ul li a:visited, propertiesWindowNavigation ul li a:hover{ color: #616161; }

.propertiesActive{
	filter: none !important;
	background-image: url(../images/ui/prop_active.svg) !important;
	background-size: 103% !important;
	zoom: 1 !important;
}	