/* -----------------------------------------------------------------------
/* <copyright file="print.css" company="ViCon GmbH">
/*     Copyright © ViCon GmbH.
/* </copyright>
/* <summary>
/*		This file provides all styles for printing
/*		this web apps content.
/* </summary>
/* -----------------------------------------------------------------------*/

@page {
	margin: 1cm;
}

#header, #errormessage, #navibar, #objectNav, #content, #propertiesWindow, .box {		/* we don't wanna display these */
	display: none !important;															/* elements on print! */
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.printcontainer {
	display: block;
	position: relative;
	page-break-after: always;

	margin: 0;
	padding: 0;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
}

#printimage {
	display: block;

	margin: auto;
	padding: 0;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

